#interview-section-container {
  grid-area: resources-content;
  height: 500px;
}

#interview-section-description {
  height: 120px;
  width: 75%;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
}
