#hero-carousel-container {
  grid-area: hero-video;
  overflow: hidden;
  position: relative;
}

#carousel-controls {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#hero-carousel-back {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#hero-carousel-forward {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
