#article-card-container {
  height: 250px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#article-card-arrow {
  position: absolute;
  top: 5px;
  right: 5px;
}

#article-card-title {
  font-family: "Sharpe Black";
  font-weight: 600;
  font-size: 28px;
  color: #0d5c3e;
  margin: 0px;
}
