/*
    Sets margins across the entire site.
*/

#page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: auto auto;
  padding: 0px 20px;
}

/* 

  Index Page CSS

*/

#index-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 350px auto;
  grid-template-areas:
    "hero-video hero-video"
    "newsletter-form newsletter-form"
    "bio bio"
    "social-links social-links";
}

#social-links {
  grid-area: social-links;
  margin-bottom: 30px;
}

#newsletter-form {
  background-color: #0d5c3e;
  grid-area: newsletter-form;
  padding: 25px 50px 50px 50px;
}

#bio {
  grid-area: bio;
  padding: 70px 50px;
  text-align: left;
}

#bio p {
  margin-bottom: 0px;
}

/* 

  Artists Page CSS

*/

#artists-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px 60px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.artists-header {
  text-align: left;
  color: #000;
  height: 80px;
  line-height: 80px;
  margin-top: 20px;
}

/* 

  Releases Page CSS

*/

#releases-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px 60px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

.releases-header {
  text-align: left;
  color: #000;
  height: 80px;
  line-height: 80px;
  margin-top: 20px;
}

/* 

  Resources Page CSS

*/

#resources-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px 60px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "selector"
    "description"
    "resources-content";
}

#resources-selector-container {
  display: flex;
  grid-area: selector;
}

#resources-selector-container h3 {
  height: 80px;
  line-height: 80px;
  margin-right: 20px;
  cursor: pointer;
}

#interview-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

#articles-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
}

/* 

  Artist Template CSS

*/

#artist-template-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px 0px 60px 0px;
}

#artist-template-details {
  background-color: #0d5c3e;
  text-align: left;
  padding: 30px;
}

#artist-name {
  font-family: Georgia;
  color: white;
  font-weight: 600;
}

#artist-bio {
  font-family: Georgia;
  color: white;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  white-space: pre-line;
}

.artist-social-link {
  height: 20px;
  width: 20px;
  margin: 10px 20px 10px 0px;
}

/* 

  Release Template CSS

*/

#release-template-container {
  background-color: #fff;
  margin: 20px 0px 60px 0px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  grid-template-areas:
    "release-image release-details"
    "release-tracks release-tracks";
}

#release-carousel-container {
  position: relative;
}

#release-carousel-controls {
  position: absolute;
  height: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  bottom: 0px;
}

#release-carousel-back {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#release-carousel-forward {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#release-template-details {
  grid-area: release-details;
  background-color: #0d5c3e;
  text-align: left;
  display: grid;
  grid-template-rows: 60% auto;
}

#release-name {
  font-size: 38px;
  font-family: Georgia;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  padding: 30px 30px 0px 30px;
}

#release-artist {
  font-size: 14px;
  font-family: Georgia;
  font-weight: 400;
  color: #ededed;
  padding: 0px 30px;
  margin-bottom: 5px;
}

#release-date {
  font-size: 14px;
  font-family: Georgia;
  font-weight: 400;
  color: #ededed;
  padding: 0px 30px;
}

#release-template-order-buttons {
  height: 50px;
  width: 100%;
  padding: 0px 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

#release-description {
  padding: 0px 30px;
  font-family: Georgia;
  color: white;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 20px;
  white-space: pre-line;
}

#release-template-formats {
  grid-area: release-formats;
  background-color: #0d5c3e;
  text-align: right;
}

#release-format-title {
  font-size: 38px;
  font-family: Georgia;
  font-weight: 600;
  color: white;
  margin-bottom: 5px;
  padding: 30px 30px 0px 30px;
}

#release-template-tracks {
  grid-area: release-tracks;
  height: 100%;
  background-color: #fff;
  overflow-y: scroll;
}

/* 

  Terms Page CSS

*/

#terms-container {
  height: auto;
  width: 100%;
  padding: 50px;
  text-align: left;
}
