/*
    Sets margins across the entire site.
*/

#page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: auto auto;
  padding: 0px 20px;
}

/* 

  Index Page CSS

*/

#file {
  width: 100% !important;
}

#youtube {
  width: 100% !important;
}

#index-right {
  display: flex;
  flex-direction: column;
}

#index-right-bottom {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

/* Form inputs */

.newsletter-input {
  width: 100%;
  background: transparent;
  border: none;
  color: white;
}

.newsletter-input:focus {
  outline: none;
}

#newsletter-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Form Checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
}

.checkbox .overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 10px;
  background-color: #fff;
  transform: rotate(-180deg);
  transition: all 0.3s;
}

.checkbox .overlay .icon {
  color: white;
  display: none;
}

.checkbox input:checked ~ .overlay {
  background-color: #ffffff;
  transform: rotate(0deg);
  opacity: 1;
}

.checkbox input:checked ~ .overlay .icon {
  display: block;
  color: #0d5c3e;
}

/* Form Button */

#newsletter-submit-button {
  outline: none;
}

#social-link {
  height: 100%;
}

#social-link-container {
  height: 100%;
}

.artist-social-link {
  height: 20px;
  width: 20px;
  margin: 10px;
}

/* 

  Artists Page

*/

#artists-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 20px;
}
