/*
    Sets margins across the entire site.
*/

#page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1280px;
  margin: auto auto;
  padding: 0px 20px;
}

/* 

  Index Page CSS

*/

#index-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 600px 350px auto;
  grid-template-areas:
    "hero-video hero-video"
    "social-links newsletter-form"
    "bio bio";
}

#social-links {
  grid-area: social-links;
}

#newsletter-form {
  background-color: #0d5c3e;
  grid-area: newsletter-form;
  padding: 25px 50px 50px 50px;
}

#bio {
  grid-area: bio;
  padding: 100px 50px;
  text-align: left;
}

/* 

  Artists Page

*/

#artists-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.artists-header {
  text-align: left;
  margin-top: 10px;
}

/* 

  Releases Page

*/

#releases-container {
  height: auto;
  width: 100%;
  max-width: 1280px;
  margin: 20px 0px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.releases-header {
  text-align: left;
  margin-top: 10px;
}

/* 

  Artist Template

*/

.artist-social-link {
  height: 20px;
  width: 20px;
  margin: 10px;
}

/* 

  Release Template

*/
