#footer-container {
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 80px;
}

#footer-left-container {
  display: flex;
  justify-content: flex-start;
}

#footer-right-container {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 900px) {
  #footer-container {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 80px;
  }

  #footer-left-container {
    display: flex;
    justify-content: center;
  }

  #footer-right-container {
    display: flex;
    justify-content: center;
  }

  #footer-contact {
    height: auto;
    display: flex;
    flex-direction: column;
  }

  #footer-contact a {
    margin-bottom: 10px;
  }

  #footer-contact a span {
    display: none;
  }
}
